
        <div id="page1">
            <div id="page1-top">
                <img src="img/middle_logo1.png" alt="">
            </div>
            <div id="background">
                <img src="img/backtest3.jpg" alt="">
            </div>
            <div id="page1-mid">
                <h1>High Quality Meals</h1>
                <h6>Join us on a gastronomic adventure where every dish tells a story...</h6>
            </div>
        </div>
        <div id="page2">
            <div id="pt1">
                <div id="pt1-left">
                    <h1>Japanese</h1>
                    <h4>Ramen & Sushi</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sit corrupti dolore perspiciatis repellendus unde ab quisquam id fugiat ratione cumque nisi, velit aliquid sunt ex nulla corporis ad beatae reiciendis deleniti! Vitae veniam accusamus dolorum cum pariatur earum illum, debitis id voluptate, laudantium vero maxime blanditiis alias minima ratione.
                    </p>
                </div>
                <div id="pt1-right">
                    <img src="img/page2pic1new1.jpg" alt="">
                </div>
            </div>
            <div id="pt2">
                <div id="pt2-left">
                    <img src="img/page2pic2new.jpg" alt="">
                </div>
                <div id="pt2-right">
                    <h1>Italian</h1>
                    <h4>Lasgana & Pasta</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur fugit quis consequatur, aspernatur ipsam illum dicta culpa recusandae debitis commodi tempore libero, quibusdam deleniti eum blanditiis dolore vero totam explicabo, nihil provident velit. Ratione doloribus laborum enim reprehenderit vitae. Debitis nemo magnam culpa rem ad nobis, hic earum corporis voluptatem.</p>
                </div>
            </div>
        </div>
        <div id="page3">
             <div id="page3-p1">
                <div id="p3-p1-img1">
                    <img src="img/pic32.jpg" alt="">
                </div>
                <div id="p3-p1-text">
                    <h4>Restaurant & Cafe</h4>
                    <div class="line"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis dolorum quibusdam quaerat unde velit quo earum illo! Unde ad fugit dignissimos id nulla possimus adipisci minima recusandae? Laudantium, ex id.
                    </p>
                </div>
                <div id="p3-p1-img1">
                    <img src="img/pic33.jpg" alt="">
                </div>
            </div>
            <div id="page3-pt2">
                <div id="page3-pt2-p1">
                    <h1>The Chefs</h1>
                    <div class="page3-line"></div>
                </div>
                <div id="page3-pt2-p2">
                    <div class="chefs">
                        <div id="chef1"><img src="img/alejandro.jpg" alt=""></div>
                        <h4>Alejandro Reyes</h4>
                        <div class="chef_line"></div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio accusantium saepe pariatur delectus corrupti? Tenetur debitis sit nam consectetur totam. Tenetur enim facere similique corporis at provident numquam, nam quasi voluptas odit expedita suscipit quas</p>
                    </div>
                    <div class="chefs">
                        <div id="chef1"><img src="img/chin_chow_wui.jpg" alt=""></div>
                        <h4>Chin Chow Wui</h4>
                        <div class="chef_line" id="line"></div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio accusantium saepe pariatur delectus corrupti? Tenetur debitis sit nam consectetur totam. Tenetur enim facere similique corporis at provident numquam, nam quasi voluptas odit expedita suscipit quas</p>
                    </div>
                    <div class="chefs">
                        <div id="chef1"><img src="img/manoj.jpg" alt=""></div>
                        <h4>Manoj Patel</h4>
                        <div class="chef_line" id="line"></div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio accusantium saepe pariatur delectus corrupti? Tenetur debitis sit nam consectetur totam. Tenetur enim facere similique corporis at provident numquam, nam quasi voluptas odit expedita suscipit quas</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page4">
            <div id="page4-Banner">
                <div id="ban-ele1">
                    <h1>8330</h1>
                    <h6>Events Served</h6>
                </div>
                <div id="ban-ele1">
                    <h1>248</h1>
                    <h6>loremm</h6>
                </div>
                <div id="ban-ele1">
                    <h1>852</h1>
                    <h6>stores</h6>
                </div>
                <div id="ban-ele1">
                    <h1>615</h1>
                    <h6>Lorem,ipsum.</h6>
                </div>
            </div>
            <div id="page4-pt2">
                <div id="container">
                    <div id="con-p1">
                        <h1>Contact Us</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit tempore laudantium atque eum ex iste sunt, cupiditate voluptatum ut deleniti, reiciendis, impedit doloribus tempora facere illum inventore distinctio incidunt dicta!</p>
                    </div>
                    <div id="con-p2">
                        <h2>book a table</h2>
                        <div id="main_form">
                            <div class="form_ele">
                                <input type="text" id="fname" class="inputs" name="fname" placeholder="Name">
                            </div>
                            <div class="form_ele">
                                <input type="text" class="inputs" id="date_picker" placeholder="MM/DD/YYYY">
                            </div>
                            <div class="form_ele">
                                <input type="text" class="inputs" id="mail_phone" placeholder="Email/Phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page5">
            <div id="page5-p1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d520.3094390088631!2d77.37179200853964!3d28.683342068007413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfa875bc9e505%3A0xbc1fee6b0a78cba3!2sHARIOM%20STORE!5e0!3m2!1sen!2sin!4v1696271264575!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div> 