<div id="cart-head">
    <div id="cart-head-text">
        <h1>Shopping Cart</h1>
    </div>
    <img src="img/back7.jpg" alt="">
</div>


<div id="cart-mid">
    <div id="cart-mid-img">
        <img src="img/cart-test1.png" alt="">
    </div>
    <div id="cart-mid-text">
        <h4>woo!</h4>
        <h6>Nothing here, But me</h6>
        <p>You don't have ordered anything yet!! why dude ??</p>
    </div>
</div>

<!-- <div id="order-sum-con">
    <div id="order-sum-head">
        <i class="ri-shopping-cart-2-line"></i>
        <h1>order summary</h1>
    </div>
    <div id="cart-super-con">
        <div id="single-ele-con">
            <div id="item-img">
                <img src="img/pi_item.png" alt="">
            </div>
            <div id="item-details">
                <h1 id="item-name">Marinana</h1>
                <h6 id="size">Medium</h6>
            </div>
            <div id="qun-price">
                <span>1pcs</span>
                <span>₹300</span>
            </div>
            <i class="ri-delete-bin-6-line"></i>
        </div>
        <div id="single-ele-con">
            <div id="item-img">
                <img src="img/pi_item.png" alt="">
            </div>
            <div id="item-details">
                <h1 id="item-name">Marinana</h1>
                <h6 id="size">Medium</h6>
            </div>
            <div id="qun-price">
                <span>1pcs</span>
                <span>₹300</span>
            </div>
            <i class="ri-delete-bin-6-line"></i>
        </div>
        <div id="single-ele-con">
            <div id="item-img">
                <img src="img/pi_item.png" alt="">
            </div>
            <div id="item-details">
                <h1 id="item-name">Marinana</h1>
                <h6 id="size">Medium</h6>
            </div>
            <div id="qun-price">
                <span>1pcs</span>
                <span>₹300</span>
            </div>
            <i class="ri-delete-bin-6-line"></i>
        </div>    
    </div>
    <div id="order-footer">
        <div id="coupon">
            <p id="addcuponline">Add coupon code (optional)</p>
            <div id="coupon-input">
                <input type="text" placeholder="KK10">
                <button id="aply-cupon">Apply</button>
            </div>
        </div>
        <div id="total_amount">
            <span>Total Amount :</span>
            <span id="amt">₹300</span>
        </div>
        <div id="checkoutbutton">
            <button class="button-30" role="button">Place Order</button> -->
            <!-- <button class="button-30" role="button">Login To Continue</button>
        </div>
    </div>
</div>  -->
