// primar_colors
//$secondary:#076161;
//  $secondary:#83C6C6;
 $secondary:#E0E8E9;
 $primary:#262B2E;
 $text_base: #292F32;
 $text1:#E2E8EE;

// neutral color palette
$base1: #191a1d;
$accent1:#E2E8EE;

// semantic_colors
$erros:hsl(0, 64%, 52%);
$warning:hsl(15, 56%, 61%);
$success: hsl(116, 52%, 57%);
$tip: hsl(227, 72%, 59%);

