        <div id="ab-page1">
            <div id="ab-p1-mid">
                <h1>our story</h1>
            </div>
            <img src="img/back7.jpg" alt="">
        </div>
        <div id="ab-page2">
            <div id="ab-p2-pt1">
                <h2>Meet the partners</h2>
                <div id="ab-p2-pt1-para">
                    <p>This piece of Development was made with Love and losts of sleepless nights. I would like to give thanks to all my partners in crime i.e my family, pratik and also Shiva for his blessings. I hope this piece of work meets your expectations with par... </p>
                </div>
            </div>
            <div id="ab-p2-pt2">
                <div id="ab-p2-pt2-img">
                    <img src="img/founder.jpg" alt="">
                </div>
                <div id="ab-p2-pt2-desc">
                    <h1>The Founder</h1>
                    <h4>" दु:खेष्वनुद्विग्नमना: सुखेषु विगतस्पृह: |</h4>
                    <h4>वीतरागभयक्रोध: स्थितधीर्मुनिरुच्यते || 56|| "</h4>
                    <h6>Bhagvat Gita</h6>
                </div>
            </div>
        </div>
        <div id="ab-page3">
            <div id="ab-p3-pt1">
                <h1>The Origin Story</h1>
            </div>
            <div id="ab-p3-pt2">
                <div id="ab-p3-pt2-orimg">
                    <img src="img/origin_story.jpg" alt="">
                </div>
                <div id="ab-p3-pt2-oritext">
                    <p>Born in Ghazibbad, Uttar Pradesh but was raised in an small village named Pillaw in Etah, I come from a typical middle class indian family and Yess I m a developer now previously i was working as backend developer in Gaura Softwares and right now i am doing cool freelance stuff and if you wanna connect you will find my socials somewhere here so enough advertising .Through the course of my journey till today,I learned that happiness doesn't require money or materialistic things i requires a purpose and you all know men are happy when they are builidng something so with these words I give you The Founder Harsh Bhardwaj i.e me(the cute one the picture)...</p>
                </div>
            </div>
        </div>
        <div id="ab-page4">
            <div id="ab-p4-pt1">
                <h1>The Idea</h1>
            </div>
            <div id="ab-p4-pt2">
                <div id="ab-p4-pt2-img">
                    <img src="img/ab-idea.jpg" alt="">
                </div>
                <div id="ab-p4-pt2-text">
                    <h1>inspiration</h1>
                    <p>The idea was given by my childhood friend Harsh Mahori, he is a developer too and we were sitting in a park and talking about the placements and i said i needed to do some projects and cause i didn't have any of my own just the one where i was previously working at So he gave the idea of Karmic Kuisine a restaurant he wanted to open someday hence to fulfill his dream i created this website for him and he will soon work on the physical Restaurant. <span>Stay Tuned.</span></p>
                </div>
            </div>
        </div>